body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.card {
  width: 500px;
  padding: 20px;
}

.card-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#profileDetails {
  text-align: center;
  margin-top: 20px;
}

#profileDetails h2 {
  font-size: 36px;
  color: #007bff;
  margin-bottom: 10px;
}

.card-body {
  text-align: left;
}

.custom-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  z-index: 1000;
  display: none;
}

.alert-success {
  background-color: #4caf50;
  color: white;
}

.alert-danger {
  background-color: #f44336;
  color: white;
}
